body{
    background-color: #f6f8fa;
}

.container-logo{
    text-align: center;
}

.navbar-brand img{
    width: 6em;
    padding: 0px;
    margin: 0px;
}

.icon-media svg{
    width: 1.5em;
}

.icon-media-ref{
    font-size: 0.8em;
    text-align: center;
}

.nav-link{
    color: white;
}


.btn{
    margin-left: 2em;
}
/*Configuração Ícones Mídias Sociais topo*/
.media{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}
/*--------------------------------------------------*/
.dropdown{
    display: flexbox;
}

/*--------------------------------------------------*/
/*Configuração Imagem artigo 'Direita'*/
.imagem-artigo{
    display: flex;
    justify-content: center;
}

#img-artigo{
    align-self: initial;
}
/*--------------------------------------------------*/
/*Separador horizontal*/

.separador-artigo{
    border: 0px;
    background-color: #d2d6da;
    height: 0.2em;
    /*background-image: linear-gradient(to right, transparent, #CCC, transparent);*/
}
/*--------------------------------------------------*/
/*Separador vertical

.separador-vertical{
    display: flex;
    justify-content: center;
}

.separador-coluna{
    border: 0.1em solid gray;
    height: 99%;
    width: 0%;
    align-self: center;
}*/
/*--------------------------------------------------*/
/*Pesquisa*/

.pesquisa{
    background-color: #d2d6da;
}
/*--------------------------------------------------*/
 .panel-footer{
     background-color:#343a40;
     color: white;
 }

.texto-artigo{
    text-align: justify;
    font-size: 1em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.fonte-artigo{
    font-size: 0.8em;
    color: black;
    text-align: right;
}

.link-artigo{
    color: black;
}

.link-artigo a:hover{
    color: red;
}

article h3{
    font-size: 1.5em;
}

.area-coment{
    font-size: 0.8em;
}

.row-media{
    text-align: center;
    margin-bottom: 1em;
}

.icon-media-coment{
    margin-right: 1em;
    border-color: black;
}

.social-coment{
    font-size: 0.8em;
}

.tgl1{
    overflow: hidden;
    width: 100px;
    white-space: no-wrap;
}

.botaovejamenos{
    text-align: center;
}

.botaovejamais a{
    text-align: right;
}

#linkexpande{
    padding: 0px;
}